.modal-dialog{
		width: 80%;
		height: 80%;
}

.modal-content{
		height: 100%;
		overflow-y: auto;
}
	
.modal-body{
		padding: 5px 5px;
}

.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
/*body {
    background: #3498DB;
}*/

#launch 
{
	background:url('../img/background-aboutus1.jpg');	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-family: 'Open Sans', sans-serif;
	color:#4e4e4e;
	line-height: 22px;
}


#prelaunch 
{
    background: #3498DB;
	background-image:none;
    font-family: "Roboto","Segoe UI", "Microsoft YaHei";
    font-size: 18px;
    height: 100%;
    width: 100%;
    color: #fff;
	font-weight:400;
}

#prelaunch .container {
    width: 100%;
	height:100%;
    margin: 0 auto;
}

.clear-loading {
    text-align: center;
    margin: 0 auto;
    position:absolute;
	top:20%;
	left:45%;
    box-sizing: border-box;
}

.spinner {
    width: 100px;
    height: 100px;
}

.spinner > span,
.spinner > span:before,
.spinner > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spinner > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    -webkit-animation: effect-2 2s infinite linear;
    -moz-animation: effect-2 2s infinite linear;
    -o-animation: effect-2 2s infinite linear;
    animation: effect-2 2s infinite linear;
}

.spinner > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent;
}

.spinner > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
	position:absolute;
	top:40%;
}

.wrapper h1{
    font-family: "Segoe UI", "Microsoft YaHei";
	font-weight:100;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapperhead
{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
	position:absolute;
	top:2%;
}

.wrapperhead h1{
    font-family: "Segoe UI", "Microsoft YaHei";
	font-weight:normal;
    font-size: 52px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
	font-weight:400;
}


.timer {
    font-family: "Segment7Standard";
    font-size: 60px;
    display: inline-block;
    vertical-align:top;
}

.clock {
    margin-top: 50px;
}

.clock .column {
    display: inline-block;
}

.days {
    display: none;
/*	margin-top:20px;*/
margin-top:-20px;
}

.top_header{
	position:fixed;
	left:10%;
	font-size:16px;
	color:#FFFFFF;
	padding:3px 0px 2px 20px;
	border-bottom:1px solid #eee;
	z-index:999;
	font-weight:600;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .timer {
        font-size: 35px;
    }
}
